<!DOCTYPE html>
<html>
<head>
  <title>GardenShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header align="left">
The Garden Shop 
</header>

<br>
<body align='left'>
<%= number_with_precision(weather['high'], precision: 0, align: 'right') %>&#176;F // <%= weather['condition']%>
<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
   <%= link_to 'Home', '/products' %> | <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> 
<% end %>

</body>



<%= yield %>

</html>
